html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}
.container h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 1%;
}
.keyTile {
  background: url('../assets/key.png') no-repeat center;
  background-size: 40% 40%;
}
.doorTile {
  background: url('../assets/door.png') no-repeat center;
  background-size: 70% 70%;
}
.clearTile {
  background-color: white;
}
.activeTile {
  background-color: LightGray;
}
.meatTile {
  background: url('../assets/meat.png') no-repeat center;
  background-size: 35% 35%;
}
.covered {
  background-color: grey;
}
.tile {
  border: 1px solid black;
}
.tile:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.start-btn {
  font-size: 2rem;
  border: 4px solid black;
  padding: 5%;
  text-align: center;
  width: 25%;
  margin: 0 auto;
}
.room {
  width: 50%;
  border: 4px solid black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.score {
  margin-left: 25%;
  font-size: 3rem;
  display: inline-block;
  width: 20%;
}
.hunger {
  width: 20%;
  display: inline-block;
  font-size: 3rem;
  margin-left: 3%;
}
.keyScore {
  margin-left: 2%;
  width: 5%;
  opacity: 30%;
}
.gameOver {
  position: absolute;
  z-index: 10;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 40%;
  border: 5px solid black;
  background-color: white;
}
.gameOverTitle {
  font-size: 5rem;
  text-align: center;
  margin-top: 3%;
}
.gameOverScore {
  font-size: 3rem;
  display: inline-block;
  text-align: center;
  width: 50%;
  margin-top: 6%;
}
.gameOverResetButton {
  font-size: 3rem;
  border: 2px solid black;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  margin-top: 6%;
  padding: 2%;
}
