// .emptyTile{

// }

.keyTile{
    //background-color:white;
    background:url('../assets/key.png') no-repeat center;
}

.doorTile{
    //background-color:white;
    background: url('../assets/door.png') no-repeat center;
    background-size: 70% 70%;
}

.clearTile{
    background-color:white;
}

.activeTile{
    background-color:LightGray;
}

// .inactiveTile{

// }

.covered{
    background-color:grey;
}

.tile{
    border: 1px solid black;   
}

.tile:after{
    content: '';
    display:block;
    padding-bottom: 100%;
}